<html>

<head>

     {% extends "base.html" %}

     {% load static %}

     {% block extrahead %}

          <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> 

     {% endblock %}   

     {% block vue %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}

</head>

<body>



{% block content %}

<style>

.index-main {

     background-image: url("{% static 'img/bg-masthead.jpg' %}");

}   

</style>


<div class="index-main" style="width:  500px;
background: #24303c;
max-height: 60%;
margin: auto;
margin-top: 100px;
margin-bottom: 100px;
border-radius: 8px;
color: white;">

     <img class="index-icon" src="{% static 'img/icon.png' %}"/>

<h3 class="index-title">Confirmar la comprar por {{game.price}}€</h3> 


     <div style="text-align:center; margin-top: 15px;">

          <div>

               <form action='charge/{{game.id}}' method="POST">
                 {% csrf_token %}
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                 data-key="{{ key }}"
                data-description="Pago"
                 data-currency="eur"
                data-amount="{{cent}}"
                data-locale="auto"
                ></script>
                <a class="btn btn-info btn-sm" href="/games"
                role="stripe-button" style='border-radius: 8px; margin-left: 5%'>Volver</a> 
               </form> 

         

          </div>

     </div>
</div>

{% endblock %}

</body>

</html>
