<html>

<head>

     {% extends "base.html" %}

     {% load static %}

     {% block extrahead %}

          <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> 

     {% endblock %}   

     {% block vue %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}

</head>

<body>



{% block content %}

<style>

.index-main {

     background-image: url("{% static 'img/bg-masthead.jpg' %}");

}   

</style>


<div class="index-main" style="
background: #24303c;
max-height: 70%;
max-width: 45%;
margin: auto;
margin-top: 80px;
margin-bottom: 80px;
border-radius: 8px;
color: white;">

     <img class="index-icon" src="{% static 'img/icon.png' %}"/>

<h3 class="index-title">Confirmar la comprar por {{total}}€</h3> 

<div>     
     <div  style=" margin-top: 15px; background: #828282; padding: 10px; margin: 10px; border-radius: 8px;">
     <table>
          <tr>
          <h5> Informacion de la compra: </h5>
          </tr>
          <tr>

               {% for dato in order %}
                    <h5> Usuario: {{dato.game.owner}} </h5>
                    <h5> Precio/dia: {{dato.game.price}} &euro;</h5>
                    <h5> Estado: {{dato.game.status}}</h5>
               {% empty %}
                    <li class="text-center" style="color:white;">Vaya, parece que no hay articulos en su carrito</li>
			{% endfor %}

 <!--         <td> <img style="width:100px;height:100px; border-radius: 8px" src="{{game.picture}}"/> </td>
          <td style=" color: white;"> 
            <h5> Usuario: {{game.owner}} </h5>
            <h5> Precio/dia: {{game.price}} &euro;</h5>
            <h5> Estado: {{game.status}}</h5>
          </td>
          </tr>-->
     </table>
     </div>
     <div style="text-align:center; margin-top: 15px;">

          <div>

               <form action='/charge/{{id}}' method="POST">
                 {% csrf_token %}
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                 data-key="{{ key }}"
                data-description="Pago"
                 data-currency="eur"
                data-amount="{{cent}}"
                data-locale="auto"
                ></script>
                <a class="btn btn-info btn-sm" href="/games"
                role="stripe-button" style='border-radius: 8px; margin-left: 5%'>Volver</a> 
               </form> 

         

          </div>

     </div>
</div>
</div>
{% endblock %}

</body>

</html>
