<html>

<head>

     {% extends "base.html" %}

     {% load static %}

     {% block extrahead %}

          <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> 

     {% endblock %}   

</head>

<body>



{% block content %}

<style>

.index-main {

     background-image: url("{% static 'img/bg-masthead.jpg' %}");

}   

</style>



<div class="index-main">

     <img class="index-icon" src="{% static 'img/icon.png' %}" />

<h1 class="index-title">¡Pago completado! </h1>



<img src="https://media.giphy.com/media/h0MTqLyvgG0Ss/giphy.gif" class="mx-auto d-block py-3">











</div>

{% endblock %}

{% block vue %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}



</body>

</html>
