<html>
<head>
     {% extends "base.html" %}
     {% load static %}
     {% block extrahead %}
          <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> 
     {% endblock %}   
</head>
<body>

{% block content %}

<div class="index-main">
     <img class="index-icon" src="{% static 'img/icon.png' %}" />
<h1 class="index-title">¡Bienvenido a la plataforma Try On Board, {{request.user.username}}!</h1> 
<p>
     ¡Aquí podrás encontrar juegos de mesa que otra gente alquile o <br/>venda cerca de tu zona!
</p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
{% endblock %}
{% block vue %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

</body>
</html>