<html>
<head>

	{% extends "base.html" %}
	{% load static %}
	{% block extrahead %}
	<link rel="stylesheet" href="{% static 'css/rent_style.css' %}" type="text/css"> 
	{% endblock %} 

</head>
<body>
<!-- No se por que no va esto -->
	

{% block content %}

<!-- Aqui hacer bucle por columna para hacer una buena vista-->

<div class="container">
	
	<h1 class = "container"> Lista de Juegos </h1>
	{% if request.user.is_authenticated %}
	<a href= "/newgame" class="btn btn-info btn-sm;" style="border-radius: 8px; margin-left: 3%; color:black; font-weight: bold;">Subir juego</a>
	{% endif %}

	<div class="container" style= "display: flex; flex-wrap: wrap;">

	{% for dato in games %}

	<table  class= "table-games">
	<!-- Vamos a introducir  algunos juegos -->
	<tr style="text-align:center;">
		<td><img style="width: 245px;height: 245px; ; border-radius: 8px;" src="{{dato.picture}} "/>
	 <div><h3> {{dato.name|capfirst}} - <i> {{dato.price}} €</i> </br></h3>
		 Estado: {{dato.status}} </br>
		 <a href= "/gameDetail/{{dato.id}}" class="btn btn-info btn-sm"
		  style="border-radius: 8px; margin-top: 10px;color:black; font-weight: bold;">Ver mas</a></br> </br></td>
		
	</tr>
	</table>
	{% empty %}

<!-- Hacer Visible esta pagina. -->

	<li>Vaya, parece que no hay juegos</li>

	{% endfor %}
</div>


<!-- Solución Parcial, ver como solucionarlo -->

</div>
<!-- Una vista final de la vista para darle profesionalidad -->

{% endblock %}

</body>
</html>