<html>
<head>
{% extends "base.html" %}
</head>

<body>
  <style>
    tr{padding: 1 !important;}
    td{padding: 1 !important;}
  </style>
  <script>
    $(function () {
      $("#datetimepicker1").datetimepicker();

      $("#datetimepicker2").datetimepicker();
    });
  </script>
{% block content %}

<div id='games'>
  
  <div class="container">
    <div><h3  class ="well well-sm" style="border-radius: 8px; color:white;">{{name}} - {{status}}</h3> </div>
   
  <div class="row">
    <div class="col-sm-4"> <img style="width:284px;height:300px; border-radius: 8px" src="{{picture}}"/> </div>
   
    <div class="col-sm-4" style="color:white;"> 
      <h4> Usuario: {{owner}} </h4>
      <h4> Precio: {{price}} &euro;</h4></br>
      <h5>Descripción:</h5>
      {{description}}
    </div> 

    <div class="col-sm-4" style="background-color: #6D65D3;border-radius: 8px;">
  
      <form>
        <fieldset>
          <legend name="Alquilar"></legend>
          <table style="margin: 15px;">
          <tr>
            <td style="color:white;">
              <label for="description">Descripción: </label>
            </td>
            <td>
              <textarea id="description" type="textarea" rows=3 cols=25 name="description" value="{{currentDescription}}" style=" margin: 3px; padding: 3px"></textarea>
            </td>
          </tr>
          <tr>
            <td style="color:white;">
              <label style=" margin: 5px; padding: 5px">Fecha inicio: </label>
            </td>
            <td>
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text " class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="color:white;">
              <label style=" margin: 5px; padding: 5px">Fecha fin: </label>
            </td>
            <td>
              <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </td>
          </tr>
          <tr class="pager">
            <td>
              <!-- btn btn-info btn-sm-->
              {% if dato.is_rentable != False %}
              <a href="/rent/{{dato.id}}" type="button" class="btn btn-primary active" style="border-radius: 8px"> Alquilar</a></br> 
              {% endif %}
            </td> 
          </tr>
          </table>
        </fieldset>
      </form>
    </div>
  </div>
</div>


<ul class="pager">
  <a href= "/games" class="btn btn-info btn-sm" style="border-radius: 8px; margin-left: 45%">Volver</a> </br></td>
</ul> 
<!-- Solución temporal (Ya entraremos en margenes)-->
</br></br></br>

{% endblock %}

</body>
</html>