#logo {
  width: 30%;
}

.index-main{
  height:100%;
  color: white;
  background-size: cover;
}

.index-main .index-title{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 120px;
}

.index-main .index-icon {
  margin-top: 100px;
  margin-left: 47%;
  height: 50px;
  width: 50px;
}


p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 120px;
}

