 .form-main{
    width:  450px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 8px;
  font-family: 'calibri';
  color: white;
  }
  
  .form-main .form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 120px;
  }

  .form-main .form-button {
    margin-left: 50%;
  }

  .d-inline-flex{
    background-color: #24303c; 
    margin-left: 30%;
    width: 35%;
  }
  
 .form-register{
  width:  600px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  font-family: 'calibri';
  color: white;
 }
  